/* --- set Global colors here --- */
:root {
  --whiteSmoke: whitesmoke;
  --primary: #79d4fd;
  --white: #fff;
  --charcol: #333333;
}
body {
  color: var(--charcol);
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.routes {
  display: "flex";
  flex-direction: "column";
  justify-content: "space-between";
  border: "2px solid red";
}

.content {
  padding: 70px 0 50px;
  flex: 1 1 auto;
  background-color: #fafafa;
}

/* carousel */
li.alice-carousel__stage-item {
  margin: 0 20px;
}
