/* --- set Global colors here --- */
:root {
  --whiteSmoke: whitesmoke;
  --primary: #79d4fd;
  --white: #fff;
  --charcol: #333333;
}
body {
  color: var(--charcol);
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.routes {
  display: "flex";
  flex-direction: "column";
  justify-content: "space-between";
  border: "2px solid red";
}

.content {
  padding: 100px 0 50px;
  flex: 1 1 auto;
  background-color: #fafafa;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
